body{

    background: url(../img/bg5.jpg) no-repeat center center fixed; 
    background-size: cover;
  
}

a:hover
{
    color:#4885E7 ;
    font-family:Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}
.cong {
    background: hsla(11, 46%, 85%, 0.85);
    border-radius: 11px;
    padding: 40px;
    height: 200px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
}
h2
{
    margin-top: 50px;
    margin-left: 10px;
}